<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <button id="botonrotor" (click)="rotate('/')"><a routerLinkActive="active"><img class="image-icon" [@rotatedState]='state' src="../assets/book-icon.png"></a></button>

<div class="enlaces">
  <button mat-button (click)="rotate('lista-libros')"><a routerLinkActive="active">Lista de libros</a></button>
  <button mat-button (click)="rotate('alta-libro')"><a routerLinkActive="active">Formulario para subir libros</a></button>
</div>



</mat-toolbar>

<div style="text-align:center">
  
<br/>
<div [@rotatedState2]='state2'>
<router-outlet></router-outlet>
</div>
</div>


